<div class="main_header">
    <div class="main_message">
        <h1 [ngClass]="{idle:cursorToggle == true}" >{{currentTitle}}</h1>        
        <br />
        <p>I AM PROGRAMER</p>        
    </div>
</div>
<div class="main_about main_content">
    <h2 class="main_title">&lt; About Me &gt;</h2>
    <img src="./../../assets/img/default.png"/>
    <div class="main_about_name main_about_info">{{userData.info_name}}</div>
    <div class="main_about_name_eng main_about_info">{{userData.info_eng_name}}</div>
    <div class="main_about_name_eng_sub main_about_info">( {{userData.info_nickname}} )</div>
    <br />
    <br />
    <div class="main_about_info" ><img src="https://img.icons8.com/material-outlined/24/000000/new-post.png"/><a href="mailto:{{userData.info_email}}">{{userData.info_email}}</a></div>
    <div class="main_about_info"><img src="https://img.icons8.com/material-rounded/24/000000/github.png"/><a href="https://github.com/{{userData.info_git}}">{{userData.info_git}}</a></div>
    <div class="main_about_info"><img src="https://img.icons8.com/material-rounded/24/000000/smartphone-approve.png"/>{{userData.info_phone}}</div>
</div>
<div class="main_career main_content">
    <h2 class="main_title">&lt; Career &gt;</h2>
    <ul class="career">
        
        <li class="career_line" *ngFor="let career of careerData;let idx = index;">
            <div class="career_item">
                <h2 class="career_item_title">{{career.career_company}}</h2>
                <p class="career_item_date">{{career.career_startDate | date:"yyyy.MM"}} ~ {{career.career_endDate | date:"yyyy.MM"}}</p>
                <div class="career_item_content">{{career.career_role}}</div>
                <div class="portContainer">
                    <img class="gotoPortpolio left" src="https://img.icons8.com/flat_round/64/000000/arrow-right.png"/> 
                    <div class="gotoPortpolio">포트폴리오 보러가기 </div>
                    <img class="gotoPortpolio right" src="https://img.icons8.com/flat_round/64/000000/arrow-right.png"/> 
                </div>
            </div>            
        </li>       
    </ul>
</div>

 