<div class="topBar">
    <div class="header">
        <a class="header_item" [routerLink]="['/main']">Main</a>
        <a class="header_bar">|</a>
        <a class="header_item" [routerLink]="['/activity']">Acitivity</a>
        <!-- <a class="header_bar">|</a>
        <a class="header_item" [routerLink]="['/project']">Project</a> -->
    </div>
</div>
<div class="app-wrapper" >
  <router-outlet></router-outlet>
</div>
<div class="footer" >
  <table class="table">
    <tr>
      <td>
        <span>Front-End : Angular/Cli  </span>
      </td>
      <td>
        <span>Back-End : Node.js</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>Server : AWS ( EC2 - ubuntu )  </span>
      </td>
      <td>
        <span>DataBase : MySql</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        참고 사이트 : <a href="https://docs.geundung.dev/">docs.geundung.dev</a>
      </td>
    </tr>
  </table>
</div>  