.activity_div{
    position:relative;
    text-align: center;
    color:#46506e;
    margin-top:10px;
    padding-top:20px;
}

.activity_content{
    position:relative;
    
    padding:2rem;
}

.activity_content .activity_title{
    font-weight:600;
}

.EditBtn{
    position: fixed;;
    bottom:15px;
    right:15px;
    z-index: 10;
    border-radius: 50%;
    width:50px;
    height:50px;
}

.activity_content .activity_content_item{
    position:relative;
    border-bottom:1px solid #bbd2ec;
    width:100%;
    min-height:150px;
    left:50%;
    transform:translateX(-50%);
    padding-top:20px;    
    max-width:650px;
}

.activity_content .activity_content_item .acitvity_content_item_title{
    color:black;
    font-weight:600;
    margin-bottom:15px;
}

.activity_content .activity_content_item .acitvity_content_item_detail{    
    padding:0.7rem;
    border-radius: 2rem;
    font-size:20px;
    color:white;
    background-color:#408cea;
    font-weight:500;
}

.activity_content .activity_content_item .acitvity_content_item_date{
    margin-top:20px;
    color:#46506e7e;
}
.activity_content .activity_content_item .acitvity_content_item_content{
    margin-top:10px;
    font-size:17px;
}

.activity_admin_top_section{
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    height:50px;
}
.activity_admin_top_section .title{
    display:inline-block;
    
    width:15%;
    height:30px;
    line-height: 30px;
    text-align: center;
    cursor:pointer;
    border-radius: 2rem;
    margin-right:5px;
    box-shadow: #00000036 0px 8px 0px 0;
    background-color:#408cea;
    color:white;
    min-width:80px;
}

.activity_admin_top_section .title:hover{
    background-color: #1c62b9;
}
.activity_admin_top_section .title.active{
    box-shadow:#00000036 0px 4px 0px 0;
    transform:translateY(4px);
    background-color: #1c62b9;
}

.activity_admin_content_section{
    text-align:left;    
    width: 100%;
    height:100%;
    position: relative;
    padding:20px;    
}


.section_item{
    display:inline-block;
    line-height:50px;
    height:50px;
    vertical-align: top;
    text-align: center;;
}

.section_item:nth-child(even){
    text-align:left;
}
.section_item input{
    height:40px;
}

@media (min-width:500px){
    .activity_Item{
        margin:20px;
        padding:20px;
    }
}

.activity_admin_content_section .btn_section{
    text-align: right;
}

.activity_admin_content_section .btn_section .btn{
    margin:5px;
}

.table td{
    vertical-align: middle;
}

.resultUpdate{
    position:fixed;
    font-size:15px;
    text-align: center;
    
    border-radius: 2rem;
    background-color:#504e4eb5;
    color:white;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    padding:5px 10px;
    transition:all 1s 0s ease;
    opacity:0;
    z-index:20;
    pointer-events: none;
}

.resultUpdate.show{
    bottom:50px;
    opacity:1;
}
