.project_div {
    padding: 2rem;
    text-align:center;
    color:#46506e;
    margin-top:25px;    
    
}

.project_item_list{
    
    position:relative;    
    margin-top:25px;
    width:100%;
}
.project_item_div{
    height:100%;
    position: relative;
}
.project_type_title{
    word-break: keep-all;
}
.project_item{
    position:relative;
    /* border-bottom:1px solid #bbd2ec; */
    width:100%;    
    /* left:50%;
    transform:translateX(-50%); */
    /* display:inline-block; */
    padding-top:20px;  
          
}
.project_title{
    color:black;
    font-weight:600;
    margin-bottom:15px;
    
}
.project_account{
    font-size:20px;
}
.project_date{
    margin-top:20px;
    color:#46506e7e;
}
.project_explanation{
    font-size:22px;
    word-break: keep-all;
    margin-top:15px;
}

.close{
    outline: none;
}
.modal.show{
    width:100% !important;
    height:100% !important;
    opacity:1 !important;
}

#exampleModalLong{
    width:0%;
    height:0;
    display:block;    
    opacity:0;
    transition:opacity 0.7s 0s ease;
}

.modal-body img{
    width:100%;
    height:100%;
    max-height:100%;
    max-width:100%;
}


