<input type="button" value="수정" class="btn btn-primary EditBtn" (click)="changeBtnClick()" *ngIf="isAdmin == true && isEdit == false" (click)="changeBtnClick(0)"/><input type="button" value="완료" class="btn btn-primary EditBtn" (click)="changeBtnClick(0)" *ngIf="isAdmin == true && isEdit == true" (click)="changeBtnClick()"/> 
<div *ngIf="isEdit == false">
  <div class="project_div"  *ngIf="projectList.length > 0">    
    <h2 class="project_type_title">&lt; Project with the '{{projectList[0].career_company}}' &gt; </h2>        
    <div class="project_item_div">
        <div class="project_item_list">
            <div class="project_item " *ngFor="let project of projectList;let idx = index;"(click)="onDetailPicture(project.project_id,idx)" >
                <h3 class="project_title">{{project.project_name}}</h3>
                <div class="project_account">{{project.project_account}}</div>
                <div class="project_date">{{project.project_startDate | date:"yyyy-MM"}} ~ {{project.project_endDate | date:"yyyy-MM"}}</div>
                <!-- <div class="project_explanation">{{project.project_explanation}}</div> -->
                <hr />
            </div>
        </div>    
    </div>
</div> 

<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" [ngClass]="{show:isModal == true}" *ngIf="isModal == true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">          
            {{projectList[select_project_idx].project_name}}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onDetailPicture()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="imgListTarget"  >
                <div class="imgTarget"  (click)="changeImg(idx)" [ngClass]="{active:selectIdx == 0}" (click)="changeImg(0)"></div>
                <div *ngIf="pictureList.length > 0 " style="display:inline-block;">
                    <div class="imgTarget" *ngFor="let picture of pictureList;let idx = index;" [ngClass]="{active:selectIdx == idx+1}" (click)="changeImg(idx+1)"></div>
                </div>
                
            </div>            
          <img [src]="pictureList[selectIdx-1].propic_img" *ngIf="selectIdx != 0" (click)="largePicture()"/>  
          <div *ngIf = "selectIdx == 0" style="white-space: pre-wrap;padding-top:25px;word-break:keep-all;">              
            {{projectList[select_project_idx].project_explanation}}
          </div>        
        </div>
        <div class="modal-footer"  >
            <div *ngIf="pictureList.length>0 && selectIdx != 0" >
                {{pictureList[selectIdx -1].propic_content}}
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="LargePictureView" *ngIf="selectIdx != 0 && isLarge == true" (click) = "largePicture()">
    <img [src]="pictureList[selectIdx-1].propic_img" />
 </div>
<div *ngIf="isEdit == true">  
  <div class="project_admin_content_section">
      <h3> &nbsp; project 수정 &nbsp; <img src="assets/img/plusIcon.png" class="plusIcon" (click)="addproject()" /></h3>
      
      <div class="project_section" >
          <div *ngFor = "let project of changeInfo;let idx = index;">              
                  <div class="setion">
                      <div class="col-md-2 col-3 section_item" >
                          이름
                      </div>
                      <div class="col-md-4 col-9 section_item" >
                          <input type="text" class="form-control" [(ngModel)]="project.project_name">
                      </div>
                      <div class="col-md-2 col-3 section_item" >
                          의뢰처
                      </div>
                      <div class="col-md-4 col-9 section_item" >
                          <input type="text" class="form-control"  [(ngModel)]="project.project_account">
                      </div>
                  </div>
                  <div class="setion">
                      <div class="col-md-2 col-3 section_item" style="font-size:15px;">
                          시작일
                      </div>
                      <div class="col-md-4 col-9 section_item" >
                          <mat-form-field appearance="fill">                            
                              <input matInput [matDatepicker]="dp4" disabled [(ngModel)]="project.project_startDate" class=" datepick">
                              <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                              <mat-datepicker #dp4 disabled="false"></mat-datepicker>                                                                    
                           </mat-form-field>
                      </div>
                      <div class="col-md-2 col-3 section_item" >
                          종료일
                      </div>
                      <div class="col-md-4 col-9 section_item" >
                        <mat-form-field appearance="fill">                            
                          <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="project.project_endDate" class="datepick">
                          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                          <mat-datepicker #dp3 disabled="false"></mat-datepicker>                                                                    
                       </mat-form-field>
                      </div>
                  </div>
                  <div class="setion">
                      <div class="col-md-2 col-3 section_item" >
                          설명
                      </div>
                      <div class="col-md-10 col-9 section_item" >
                          <textarea [(ngModel)]="project.project_explanation" style="resize:none;" class="form-control" rows="5">

                          </textarea>
                          <!-- <input type="text" class="form-control"  [(ngModel)]="project.project_explanation"> -->
                      </div>                            
                  </div>
                  <div class="btn_section" >
                      <input type="button" class="btn btn-info" value="사진 추가" style="float:left" (click)="addPicture(idx)"/>
                      <input type="button" class="btn btn-danger" value="삭제" (click)="deleteProject(project,idx)"/>
                      <input type="button" class="btn btn-primary" value="수정" (click)="editProject(project,idx)"/>                            
                 </div>
                  <hr />                             
          </div>
                                
      </div>
      <div class="project_section" *ngIf="newProject.length > 0">
        <h2>&nbsp; 프로젝트 추가 &nbsp;</h2>
        <div *ngFor = "let project of newProject;let idx = index;">              
                <div class="setion">
                    <div class="col-md-2 col-3 section_item" >
                        이름
                    </div>
                    <div class="col-md-4 col-9 section_item" >
                        <input type="text" class="form-control" [(ngModel)]="project.project_name">
                    </div>
                    <div class="col-md-2 col-3 section_item" >
                        의뢰처
                    </div>
                    <div class="col-md-4 col-9 section_item" >
                        <input type="text" class="form-control"  [(ngModel)]="project.project_account">
                    </div>
                </div>
                <div class="setion">
                    <div class="col-md-2 col-3 section_item" style="font-size:15px;">
                        시작일
                    </div>
                    <div class="col-md-4 col-9 section_item" >
                        <mat-form-field appearance="fill">                            
                            <input matInput [matDatepicker]="dp4" disabled [(ngModel)]="project.project_startDate" class=" datepick">
                            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                            <mat-datepicker #dp4 disabled="false"></mat-datepicker>                                                                    
                         </mat-form-field>
                    </div>
                    <div class="col-md-2 col-3 section_item" >
                        종료일
                    </div>
                    <div class="col-md-4 col-9 section_item" >
                      <mat-form-field appearance="fill">                            
                        <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="project.project_endDate" class="datepick">
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>                                                                    
                     </mat-form-field>
                    </div>
                </div>
                <div class="setion">
                    <div class="col-md-2 col-3 section_item" >
                        설명
                    </div>
                    <div class="col-md-10 col-9 section_item" >
                        <textarea [(ngModel)]="project.project_explanation" style="resize:none;" class="form-control" rows="5">

                        </textarea>                        
                    </div>                            
                </div>
                <div class="btn_section" >
                    <input type="button" class="btn btn-danger" value="삭제" (click)="deleteNewProject(idx)"/>
                    <input type="button" class="btn btn-primary" value="추가" (click)="addNewProject(project,idx)"/>                            
               </div>
                <hr />                             
        </div>
                              
    </div>
  </div>

  
</div>